# Ignore everything
*

# Except these files
!style.css
!index.html
!pricing.html
!contact.html
!about.html

# Ignore these directories
dist/
node_modules/

# Ensure .gitignore is not ignored
!.gitignore
